<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="container p-3 my-3 bg-primary text-white">
    <h1 class="text-center">Simple BME280 Interface</h1>
</div>

<div class="container p-3 my-3 border">
    <h3>Current Temperature (Degrees C)</h3>
    <h3 id="temperature"></h3>
</div>

<script type="text/javascript">
    function get_temperature() {
        $.getJSON('/api/temperature', function(data) {
            $('#temperature').html(data.temperature);
        })
    }
    setInterval(get_temperature, 1000);
</script>
